@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Oxanium', cursive;

}
.search {
  position: absolute;
  top: 33vi;
  left: 38vi;
  width: 22.5vi;
  height: 3vi;
  outline: none;
  border: 0.2vi solid #333;
  border-radius: 0.5vi;
  font-size: 2vi;
  color: #3a444d;
  box-shadow: -0.2vi 0.3vi 0 #888, -0.4vi 0.6vi 0 #333
}
body {
  background: linear-gradient(to bottom, #5f96c4, #fff);
  min-height: 100vh;
}

.pokedex{
  margin-top: 3vi;
  margin-left: 33vi;
  position: relative;
  width: 35vi;
  height: 45vi;
}

.pokemon__imagen {
  position: absolute;
  top: 17vi;
  left: 44vi;
  height: 9vi;
}
.pokemon_datos{
  position: absolute;
  top: 28.3vi;
  right: 39vi;
  font-size: clamp(0.1vi, 1.5vw, 25px);
}
.pokemon_numero{
  color: #aaa;
}

.pokemon_nombre {
  color: #384958;
  text-transform: capitalize;
}

.botones {
  align-items: center;
  position: absolute;
  top: 38vi;
  left: 36vi;
  width: 25vi;
  display: flex;
  gap: 3vi;
}

.boton {
  width: 50vi;
  height: 5vi;
  border: 0.2vi solid #000;
  border-radius: 0.5vi;
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -0.2vi 0.3vi 0 #222, -0.4vi 0.6vi 0 #000;
  font-size: 1.3vi;
}

.boton:active {
  box-shadow: inset -0.2vi 0.2vi 0 #222;
  font-size: 0.8vi;
}

.punto{
  display: none;
}

.radio {
  position: absolute;
  top: 7vi;
  left: 9vi;
  height: 5px;
  background-color: #c50909;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.radio{
  accent-color: rgb(6, 99, 161);
}

