@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Fjalla', swap; 
}

body {
    background-image:url(../storage/img/fondo.jpg);
    background-size: cover;
    text-align: center;
    padding: 2vi;
}
.title{
    top: 0vi;
    left: 42vi;
    position: absolute;
    width: 15vi;
}

.sonido{
    position: absolute;
    left: 70vi;
    width: 2vi;
}
.hand_player {
    position: absolute;
    top: 26vi;
    left: 40.2vi;
    justify-content: center;
    margin-bottom: 0vi;
    width: 19vi;
}
.hand_machine {
    position: absolute;
    top: 12vi;
    left: 31.5vi;
    height: vi;
    justify-content: center;
    margin-bottom: 0vi;
    width: 36vi;
}

.card {
    position: relative;
    margin: 2vi;
    width: 5vi;
    border-radius: 0.2vi;
}

#info-juego {
    font-size: 2vi;
    position: relative;
    top: 35vi;
    justify-content: center;
    align-items: center;
}

.botones {
    font-size: 2vi;
    padding: 1vi 2vi;
    margin: 1vi;
    border: none;
    background-color: #f0ff1c;
    color: #000000;
    cursor: pointer;
    border-radius: 2vi;
}

.botones:hover {
    background-color: #ffe600;
    color: #fff;
}
.p{
    color: #ffffff;
    text-shadow: 0 0 0.5vi #973903;
}
#puntuacion-jugador{
    position: absolute;
    top: 30.5vi;
    left: 10vi;
    font-size: 2vi;
}
#puntuacion-maquina{
    position: absolute;
    top: 16.5vi;
    left: 70vi;
    font-size: 2vi;
}
#resultado {
    position: relative;
    top: 37vi;
    font-weight: bold;
    font-size: 2vi;
    color: #ffffff;
    text-shadow: 0.3vi 0.3vi #100152;
}
.radio {
    position: absolute;
    top: 2.9vi;
    left: 73vi;
    height: 0.2vi;
    width: 8vi;
    background-color: #c0f10c;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
  
.radio{
    accent-color: rgb(6, 161, 14);
}
.cajaRacha{
    font-size: 2vi;
    top: 21vi;
    left: 68vi;
    position: absolute;
    background-color: #ffffff25;
    color: #c3df61;
    text-shadow: 0 0 0.5vi #570f0f;
    width: 20vi;
    height: 10vi;
    align-items: center;
    border-radius: 0.8vi;
    padding: 2vi;
}

#idJ_victorias{
    padding-bottom: 5vi;
}